# Dependencies
node_modules/

# Build
dist/
dist-electron/
release/

# Logs
*.log
npm-debug.log*

# Local
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
